@model OrgMgmt.Models.ReviewResponse

@{
    ViewData["Title"] = "Review Response Details";
}

<h1>Review Response Details</h1>

<div>
    <h4>ReviewResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceReview.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewQuestion.QuestionText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
